[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
asgiref = "*"
pygame="*"
py_netgames_model="*"

[requires]
python_version = "3.8"

[dev-packages]
#py_netgames_model = {path = "./../model"}
