[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets="*"
dataclasses-json="*"
py_netgames_model="1.2"

[dev-packages]
#py_netgames_model = {path = "./../model"}


[requires]
python_version = "3.8"
