[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets="*"
dataclasses-json="*"

[dev-packages]
model = {path = "./../model"}


[requires]
python_version = "3.8"
